.card {
   width: 20rem;
   background-color: transparent;
   border: 3px solid white;
   border-radius: 40px;
   color: white;
   margin: 3% 0;
}

.card-title {
   text-align: center;
}

.reflejo {
   position: absolute;
   left: 85%;
   top: 2%;
   background-color: rgba(255, 255, 255, 0.5);
   padding: 18px 0px;
   width: 11%;
   border-radius: 100px;
}

.reflejo2 {
   position: absolute;
   left: 4%;
   top: 95%;
   background-color: rgba(255, 255, 255, 0.5);
   padding: 11px 0px;
   width: 7%;
   border-radius: 100px;
}

.card-body hr {
   color: white;
   border: 2px solid white;
}

.card-body{
   z-index: 3;
}

.card-body button {
   margin: 0 15%;
   width: 70%;
}

.card-body .btn-primary{
   font-size: 115%;
   color: white;
   background: linear-gradient(90deg, #04fafd, #119dff);
   transition: 1s ease;
   border-radius: 35px;
   border: none;
}

.card-body .btn-primary:hover{
   animation: linear gradient 1s infinite;
   transition: 0.2s ease;
   transform: scale(1.1);
   box-shadow: 0px 0px 0px 2px white;
}

.card-text{
   font-size: 115%;
}

@keyframes gradient {
   0%{
      background-position: 0 0;
   }
   20%{
      background-position: 2rem 0;
   }
   40%{
      background-position: 4rem 0;
   }
   60%{
      background-position: 7rem 0;
   }
   80%{
      background-position: 10rem 0;
   }
   100%{
      background-position: 12rem 0;
   }
}